
{% block title %}
    Upload Image
{% endblock %}

{% block header %}
    Upload Image
{% endblock %}

{% block extra_css %}
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f4f7f9;
        padding: 2rem;
    }

    .container {
        max-width: 600px;
        margin: 0 auto; /* Center the container */
        padding: 2rem;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    }

    .header {
        display: cover;
    }

    h1 {
        text-align: center; /* Ensure h1 is centered */
        margin-bottom: 20px;
        color: #333;
        font-size: 2rem;
        width: 100%; /* Make sure the h1 takes full width */
    }

    form {
        display: block;
        width: 100%; /* Ensure form takes full width */
    }

    label {
        margin-bottom: 0.5rem;
        font-weight: bold;
        display: block;
        text-align: left;
        width: 100%;
    }

    input, textarea, select {
        padding: 0.8rem;
        margin-bottom: 1.5rem;
        border: 1px solid #ccc;
        border-radius: 8px;
        font-size: 1rem;
        width: 100%; /* Make inputs take full width */
        box-sizing: border-box;
    }

    /* Align checkboxes to the left */
    input[type="checkbox"] {
        width: auto; /* Prevent checkbox from being full-width */
        margin-right: 0.5rem;
    }

    .checkbox-label {
        display: flex;
        align-items: center;
        margin-bottom: 1.5rem;
    }

    button {
        padding: 1rem;
        background-color: #000000;
        color: white;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        margin-top: 10px;
        width: 100%; /* Button takes full width */
    }

    button:hover {
        background-color: #2f2f2f;
    }
</style>
{% endblock %}

{% block content %}
<div class="container">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="id_file">Upload Image:</label>
        {{ form.logo }}

        <button type="submit">Upload Image</button>
    </form>
</div>
{% endblock %}
