# Ignore the virtual environment folder
venv/

# Ignore Django migrations
*/migrations/

# Ignore database files
*.sqlite3

# Ignore Python compiled files
*.pyc
__pycache__/

# Ignore system files
.DS_Store

# Ignore environment variables file
.env

# Ignore settings file
ai_education/ai_education/settings.py