.logo-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.logo {
    width: 150px; /* Adjust the width of the logo */
    height: auto; /* Keeps the aspect ratio */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
