<style>
    :root {
        --primary-color: {{ primary_color }};
        --secondary-color: {{ secondary_color }};
    }

    html, body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        background-color: #f4f7f9;
    }

    /* Navbar styling */
    .navbar {
        display: flex;
        justify-content: space-between;
        width: 100vw;
        align-items: center;
        padding: 20px;
        background-color: var(--primary-color);
        box-sizing: border-box;
        position: fixed;
        top: 0;
        left: 0;
        height: 115px;
        z-index: 1000;
    }

    .profile-icon {
        font-size: 24px;
        color: var(--secondary-color);
        padding-right: 20px;
        cursor: pointer;
    }

    .profile-icon img {
        width: 60px;
        border-radius: 30px;
    }

        /* Dropdown menu styling */
        .profile-menu {
            display: none;
            position: absolute;
            top: 70%;
            right: 35px;
            background-color: white;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            border-radius: 5px;
            z-index: 1000;
            width: auto;
            /* Adjust width to your needs */
        }
    
        .profile-menu.active {
            display: block;
            border-radius: 5px;
        }
    
        .profile-menu a {
            display: block;
            padding: 10px;
            color: #000;
            text-decoration: none;
        }
    
        .profile-menu a:hover {
            background-color: var(--secondary-color);
            color: white;
            border-radius: 5px;
        }

    /* Sidebar styling */
    .sidebar {
        background-color: #f9fafb;
        padding: 1rem;
        border-right: 1px solid #e0e0e0;
        height: calc(100vh - 80px); /* Full height minus the navbar height */
        position: fixed;
        width: auto;
        top: 115px; /* Start below the navbar */
        left: 0;
        overflow-y: auto;
    }

    /* Specific logo styling */
    .logo-container {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .logo-container img {
        width: 150px;
        height: auto;
        cursor: pointer;
        transition: none; /* No hover background effect */
    }

    .logo {
        margin-top: 10px;
        width: 100px;
    }

    .logo-container img:hover {
        cursor: pointer; /* Only cursor change on hover */
    }

    /* Adjust body to account for the fixed navbar */
    body {
        padding-top: 80px; /* Adjusted for the navbar height */
    }
    .sidebar a {
        display: block;
        text-decoration: none;
        padding: 0.8rem 1rem;
        background-color: transparent;
        color: #333;
        font-weight: 500;
        border-radius: 5px;
        transition: background-color 0.3s ease, color 0.3s ease;
    }
    
    .sidebar a:hover {
        color: var(--primary-color);
    }
</style>

<!-- Navbar -->
<div class="navbar">
    {% if user_role == 'admin' %}
    <a href="{% url 'admin_dashboard' %}">
    {% elif user_role == 'teacher' %}
    <a href="{% url 'dashboard' %}">
    {% elif user_role == 'student' %}
    <a href="{% url 'dashboard' %}">
    {% endif %}
        <img class="logo" src="{{ logo.url }}" alt="University Logo">
    </a>

    <!-- Profile Icon -->
    <div class="profile-icon">
        {% if profile_image %}
        <img src="{{ profile_image.url }}" id="profile-icon">
        {% else %}
        <i class="fa-solid fa-user profile-icon" id="profile-icon"></i>
        {% endif %}
    </div>

    <!-- Profile Dropdown Menu -->
    <div class="profile-menu" id="profile-menu">
        <a href="{% url 'profile_image_upload' %}">Profile Image</a>
        <a href="{% url 'logout' %}">Logout</a>
    </div>
</div>

<!-- Sidebar -->
<div class="sidebar dashboard-nav">
    <a href="{% url 'course_page' classroom.room_code %}" class="sidebar-links">Home</a>
    <a href="{% url 'file_list' classroom.room_code %}">Files</a>
    <a href="{% url 'assignments_list' classroom.room_code %}">Assignments</a>
    <a href="#">Grades</a>
    <a href="{% url 'students_enrolled' classroom.room_code %}">People</a>
    <a href="{% url 'messages_list' classroom.room_code %}">Messages</a>
</div>

<script>
    // Toggle profile menu visibility when the profile icon is clicked
    document.getElementById('profile-icon').addEventListener('click', function() {
        var menu = document.getElementById('profile-menu');
        menu.classList.toggle('active');
    });

    // Close the profile menu if clicked outside
    window.addEventListener('click', function(e) {
        if (!document.getElementById('profile-icon').contains(e.target) &&
            !document.getElementById('profile-menu').contains(e.target)) {
            document.getElementById('profile-menu').classList.remove('active');
        }
    });
</script>
