{% extends 'ai_app/dashboards/teacher/course_base.html' %}

{% block title %}
    Create Message
{% endblock %}

{% block header %}
    Create a New Message
{% endblock %}

{% block extra_css %}
<style>
    body {
        color: #434443;
    }
    .title {
        font-weight: bold;
        margin-bottom: 10px;
    }

    .title input {
        width: 99%;
        height: 30px;
        font-size: 18px;
    }

    .text {
        font-weight: bold;
    }

    .post-button {
        background-color: var(--primary-color);
        border-radius: 4px;
        padding: 8px;
        color: var(--secondary-color);
        margin-top: 10px;
        border: none;
        font-size: 16px;
    }

    .post-button:hover {
        filter: brightness(1.5);
        cursor: pointer;
    }
</style>
    {{ form.media }}  
{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        <div class="title">
            <label for="id_title">Title:</label>
            {{ form.title }}
        </div>
        
        <div> 
            <label for="id_text" class="text">Message:</label>
            {{ form.text }}  <!-- This will render the Quill editor -->
        </div>
        
        <button class="post-button" type="submit">Post Message</button>
    </form>
{% endblock %}
