{% extends 'ai_app/dashboards/teacher/course_base.html' %}

{% block title %}
{{ classroom.room_name }} - Home Page
{% endblock %}

{% block header %}
{{ classroom.room_name }} - Home
{% endblock %}

{% block extra_css %}
<style>
    .content-container {
        width: 75%;
    }

    .class-info {
        display: flex;
        justify-content: space-between;
        margin-bottom: 0.5rem;
        align-items: center;
    }

    .class-info label,
    .class-times li span:first-child {
        font-weight: bold;
        color: #434443;
        width: 40%;
    }

    .class-info span,
    .class-times li span:last-child {
        width: 60%;
        text-align: right;
    }

    .class-info,
    .class-times,
    .syllabus-preview {
        color: #434443
    }

    .syllabus-preview embed {
        margin-top: 10px;
    }
</style>
{% endblock %}

{% block content %}
<div class="class-info">
    <label>Course Number:</label>
    <span>{{ classroom.room_code }}</span>
</div>

<div class="class-info">
    <label>Professor Name:</label>
    <span>{{ classroom.teacher.first_name }} {{ classroom.teacher.last_name }}</span>
</div>

<div class="class-info">
    <label>Professor Email:</label>
    <span>{{ classroom.teacher.email }}</span>
</div>

<div class="class-info">
    <label>Room Number:</label>
    <span>{{ classroom.room_number }}</span>
</div>

<!-- Class Times -->
<div class="class-times">
    <h3>Class Times:</h3>
    <ul>
        {% for day, time in classroom.class_times.items %}
        <li>
            <span>{{ day|capfirst }}:</span>
            <span>{{ time }}</span>
        </li>
        {% endfor %}
    </ul>
</div>

<!-- Syllabus Preview Section -->
<div class="syllabus-preview">
    <h3>Syllabus Preview</h3>
    {% if syllabus %}
    <embed src="{% url 'preview_syllabus' classroom.room_code syllabus.id %}" width="100%" height="600px"
        type="application/pdf">
    {% else %}
    <p>No syllabus uploaded yet.</p>
    {% endif %}
</div>

{% endblock %}