{% extends 'ai_app/dashboards/teacher/course_base.html' %}

{% block title %}
{{ assignment.title }} - Assignment Page
{% endblock %}

{% block header %}
{{ assignment.title }}
{% endblock %}

{% block extra_css %}
<style>
    body {
        color: #434443;
    }

    .upload-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #434443;
    }

    .upload-button button {
        background-color: var(--primary-color);
        color: var(--secondary-color);
        border-radius: 4px;
        border: none;
        padding: 8px;
        font-size: 16px;
    }

    .upload-button button:hover {
        cursor: pointer;
        filter: brightness(1.5);
    }

    .assignment-details img {
        width: 750px;
    }

    .submitted-message {
        display: flex;
        align-items: center;
        font-size: 16px;
        color: green;
        font-weight: bold;
    }

    .submitted-message .checkmark {
        margin-left: 8px;
        color: green;
        font-size: 20px;
    }
</style>
{% endblock %}

{% block content %}
{% if submission %}
<div class="submitted-message">
    Submitted <span class="checkmark">&#10003;</span>
</div>
{% elif show_questions and user_role == 'student' %}
<div class="upload-header">
    <div class="upload-button">
        <form method="POST" action="{% url 'submit_assignment' classroom.room_code assignment.id %}">
            {% csrf_token %}
            <button type="submit">Start Assignment</button>
        </form>            
    </div>
</div>
{% elif before_start %}
<p>Questions will be available after {{ assignment.start_date }}</p>
{% elif after_due %}
<p>The due date for this assignment has passed.</p>
{% endif %}
<div class="assignment-details">
    <p><strong>Start Date:</strong> {{ assignment.start_date }}</p>
    <p><strong>Due Date:</strong> {{ assignment.due_date }}</p>
    <p><strong>Points:</strong> {{ assignment.points }}</p>
    <p><strong>Time Limit:</strong> {{ assignment.time_limit }} minutes</p>
    <p><strong>Number of attempts:</strong> {{ assignment.attempts }}</p>
    <p><strong>Description:</strong> {{ assignment.description.html|safe }}</p>



</div>
{% endblock %}
