{% extends 'ai_app/dashboards/teacher/course_base.html' %}

{% block title %}
{{ classroom.room_name }} - Assignments
{% endblock %}

{% block header %}
{{ classroom.room_name }} - Assignments
{% endblock %}

{% block extra_css %}
<style>
    body {
        color: #434443;
    }

    .upload-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #434443;
    }

    .upload-button {
        background-color: var(--primary-color);
        border-radius: 4px;
        padding: 8px;
        margin-top: 10px;
    }

    .upload-button a {
        text-decoration: none;
        font-size: 16px;
        color: var(--secondary-color);
    }

    .upload-button:hover {
        filter: brightness(1.5);
    }

    ul {
        list-style: none;
        padding: 0;
    }

    ul li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        margin-bottom: 10px;
        background-color: #f9f9f9;
        border-radius: 5px;
        border: 1px solid #e0e0e0;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    ul li:hover {
        background-color: #f0f0f0;
    }

    .clickable-card {
        color: #434443;
        text-decoration: none;
        flex-grow: 1;
    }

    .assignment-left {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .assignment-title {
        font-size: 1.2rem;
        text-align: left;
    }

    .uploaded-at {
        font-size: 0.875rem;
        color: #777;
        text-align: left;
    }

    .assignment-actions {
        display: flex;
        align-items: center;
    }

    .edit-btn {
        margin-left: 10px;
        font-size: 1.2rem;
        color: #434443;
    }

    .edit-btn:hover {
        filter: brightness(1.5);
    }

    .delete-btn {
        background-color: transparent;  
        color: #ff4d4d;                 
        border: none;                 
        cursor: pointer;              
        font-size: 1.2rem;             
        margin-right: 5px; 
        margin-left: 5px;            
    }
    
    .delete-btn i {
        color: #ff4d4d;                
    }
    
    .delete-btn:hover i {
        color: #cc0000;                
    }
    
    .delete-btn:hover {
        background-color: transparent;  
    }
</style>
{% endblock %}

{% block content %}

<div class="upload-header">
    {% if user_role == 'teacher' %}
    <div class="upload-button">
        <a href="{% url 'assignment_create' classroom.room_code %}">Create Assignment <i
                class="fa-solid fa-pen-to-square" style="font-size: 16px; margin-left: 5px;"></i></a>
    </div>
    {% endif %}
</div>

<h3>Upcoming Assignments</h3>
{% if upcoming_assignments %}
    <ul>
        {% for assignment in upcoming_assignments %}
        <li class="assignment-item">
            <a href="{% url 'assignment_page' classroom.room_code assignment.id %}" class="clickable-card">
                <div class="assignment-left">
                    <span class="assignment-title">{{ assignment.title }}</span>
                    <small class="uploaded-at">Start Date: {{ assignment.start_date }}</small>
                    <small class="uploaded-at">Due Date: {{ assignment.due_date }}</small>
                </div>
            </a>
            <div class="assignment-actions">
                {% if user_role == 'teacher' %}
                <a href="{% url 'assignment_submissions' room_code assignment.id %}" class="edit-btn">
                    View Submissions
                </a>
                <form action="{% url 'delete_assignment' room_code=room_code assignment_id=assignment.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="delete-btn">
                        <i class="fa-solid fa-trash"></i>
                    </button>
                </form>
                <a href="{% url 'edit_assignment' room_code assignment.id %}" class="edit-btn">
                    <i class="fa-solid fa-pen-to-square"></i>
                </a>
                {% endif %}
            </div>
        </li>
        {% endfor %}
    </ul>
{% else %}
<p class="list-group-item text-center">No upcoming assignments available.</p>
{% endif %}

<hr>
<h3>Past Assignments</h3>
{% if past_assignments %}
    <ul>
        {% for assignment in past_assignments %}
        <li class="assignment-item">
            <a href="{% url 'assignment_page' classroom.room_code assignment.id %}" class="clickable-card">
                <div class="assignment-left">
                    <span class="assignment-title">{{ assignment.title }}</span>
                    <small class="uploaded-at">Start Date: {{ assignment.start_date }}</small>
                    <small class="uploaded-at">Due Date: {{ assignment.due_date }}</small>
                </div>
            </a>
            <div class="assignment-actions">
                {% if user_role == 'teacher' %}
                <a href="{% url 'assignment_submissions' room_code assignment.id %}" class="edit-btn">
                    View Submissions
                </a>
                {% endif %}
            </div>
        </li>
        {% endfor %}
    </ul>
{% else %}
<p class="list-group-item text-center">No past assignments available.</p>
{% endif %}
{% endblock %}
