{% extends 'ai_app/dashboards/teacher/course_base.html' %}
{% block title %}
{{ assignment.title }}
{% endblock %}

{% block header %}
{{ assignment.title }}
{% endblock %}

{% block extra_css %}

<style>
    :root {
        --primary-color: var(--primary-color);
        --secondary-color: var(--secondary-color);
    }

    body {
        color: #434443;
    }

    .title {
        font-weight: bold;
        margin-bottom: 10px;
    }

    .text {
        font-weight: bold;
    }

    /* General button styles */
    button {
        background-color: var(--primary-color);
        color: var(--secondary-color);
        border: none;
        border-radius: 4px;
        padding: 8px 12px;
        font-size: 16px;
    }

    button:hover {
        filter: brightness(1.5);
        cursor: pointer;
    }

    .submit-button {
        margin-top: 10px;
    }

    .choice-form {
        padding: 10px;
    }

    #choice-formset {
        margin-top: 20px;
    }

    .add-choice-button {
        float: right;
    }

    /* Choice line styles */
    .choice-line {
        display: flex;
        align-items: center;
    }

    .choice-line input[type="text"] {
        flex-grow: 1;
        margin-right: 10px;
        padding: 8px;
        font-size: 16px;
        width: 50%;
    }

    .choice-line label {
        margin-right: 10px;
    }

    /* Remove Choice Button Styles */
    .remove-choice {
        background: none;
        color: #ff0000;
        /* Optional: Set a color for the trash icon */
        font-size: 16px;
        /* Increase the size of the icon */
        border: none;
        padding: 0;
        cursor: pointer;
    }

    .remove-choice:hover {
        filter: brightness(1.2);
    }

    /* Adjust icon size inside the button */
    .remove-choice i {
        font-size: 20px;
    }

    /* Error message styles */
    .error-message {
        color: #a94442;
    }

    .field-error {
        border-color: #a94442;
    }

    .errorlist {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    .errorlist li {
        color: #a94442;
        background-color: rgba(254, 176, 189, 1);
        border: 1px solid #a94442;
        padding: 10px;
        margin-bottom: 10px;
        border-radius: 4px;
    }

    .back-button {
        background-color: var(--primary-color);
        border-radius: 4px;
        padding: 8px;
        border: none;
        margin-top: 10px;
        width: 200px;
        text-align: center;

    }

    .back-button:hover {
        filter: brightness(1.5);
        cursor: pointer;
    }

    .back-button a {
        color: var(--secondary-color);
        text-decoration: none;
    }
</style>
{% endblock %}

{% block content %}
<h2>Questions for {{ assignment.title }}</h2>

<ul>
    {% for question in questions %}
    <li>
        {{ question.question_type }}: {{ question.question.html|safe }}
        <a href="{% url 'edit_question_choices' room_code=classroom.room_code assignment_id=assignment.id question_id=question.id %}">Edit Choices</a>
    </li>
    {% endfor %}
</ul>
<div class="back-button">
    <a href="{% url 'edit_assignment' room_code=classroom.room_code pk=assignment.id %}">Back to Assignment</a>
</div>
{% endblock %}